/* ==== layout ==== */

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family:
        -apple-system,
        "Helvetica Neue",
        "Arial",
        "PingFang SC",
        "Hiragino Sans GB",
        "STHeiti",
        "Microsoft YaHei",
        "Microsoft JhengHei",
        "Source Han Sans SC",
        "Noto Sans CJK SC",
        "Source Han Sans CN",
        "Noto Sans SC",
        "Source Han Sans TC",
        "Noto Sans CJK TC",
        "WenQuanYi Micro Hei",
        SimSun,
        sans-serif;
    text-shadow: 0 0 0px rgba(0,0,0,0.15);
}

figure {
    font-family:
        "PingFang SC";
}
/*header*/
.banner {
    background: #000;
    height: 0.5rem;
    margin-bottom: 8vmin;
}

/*section*/
.main {
    width: 85%;
    max-width: 35rem;
    min-width: 15rem;
    margin: 3rem auto;
    padding: 0;
}

/*footer*/
.site-footer {
    position: fixed;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    bottom: 0;
/*    width: 100%;
    max-width: 35rem;
    min-width: 15rem;*/
    height: 29px;
    padding: 0;
    z-index: 0;
    background-color: #000;
}

/* ==== general ==== */



a {
    text-decoration: none;
}

a:focus {
    outline: none;
    color: #000;
    background-color: #FF0;
}

h1, h2 {
    font-weight: normal;
}

/*.banner h1*/
.logo { display: none; }

.posts {
    margin: 0 0 0 0;
    padding: 0;
}

/*nav*/
.pagination {
    line-height: 2rem;
    clear: both;
}

/*section li*/
.post-item,
.post-item .title {
    /*display: inline;*/
    /*float: left;*/
    margin:  -0.7rem 0 0;
    padding: 0;
    font-size: 2rem;
    line-height: 3rem;
}

.single_title {
    margin: 0 -1rem 0 -1rem;
}

/*footer ul*/
.navi-menu {
    margin: 0 0 0 1.4rem;
    padding: 0;

}

/*footer li*/
.menu-item {
    display: inline;
    line-height: 2rem;
    margin: 0;
    padding: 0;
}

/*.post-item:after,
.menu-item:after {
    content: " • ";
}*/

.post-item:last-of-type:after,
.menu-item:last-of-type:after {
    content: none;
}

.meta {
    line-height: 2rem;
    margin: 0;
}

.single .title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.single a[title^="Flickr"] {
    margin-left: -40px;
}

/* ==== color ==== */

a {
    color: #eb0e00;
}

a:hover {
    color: #eb5e00;
}

::selection,
::-moz-selection {
    color: #135612;
    background: #135612;
}

.main {
    background: #FFF;
}

figure,code {
    background: #d9d9d9;
}

span {
    white-space: nowrap;
}

table tbody {
    display: block;
    width: 100%;
    overflow-x: auto;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

td.gutter {
    width: 30px;
    margin: 0;
    height: 100%;
}

