body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
}

html, figure, body {
    font-family: 'Hiragino Sans GB', 'Lucida Sans Unicode', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*header*/
.banner {
    height: 0;
    margin-bottom: 50px;
}

/*section*/
.main {
    width: 85%;
    max-width: 35rem;
    min-width: 15rem;
    min-height: 644px;
    margin: 3rem auto;
    padding: 0;
}

/*navifator*/
.site-navifator {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    padding: 0;
    z-index: 99;
}

/* ==== general ==== */
h1, h2 {
    font-weight: normal;
}

.post-time {

}
/*.banner h1*/
.posts {
    margin: 5rem 0 0 0;
    padding: 0;
}

/*nav*/
.pagination {
    clear: both;
}

a.alignleft.prev {
    z-index: 0;
    float: left;
}

a.alignright.next {
    z-index: 0;
    float: right;
}

/*section li*/
.post-item,
.post-item .title {
    margin: 0.4rem -0.7rem 0.4rem 0;
    padding: 0;
    font-size: 2rem;
    line-height: 3rem;
}

.single_title {
    margin: 0 -1rem 0 -1rem;
}

/*footer li*/
.menu-item {
    display: inline;
    margin: 0 5px 0 0;
    padding: 0;

}

.meta {
    line-height: 2rem;
    margin: 0;
}

.single .title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.single a[title^="Flickr"] {
    margin-left: -40px;
}

a:hover {
    transition:0.2s ease-in-out;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* ==== code box shadow ==== */
figure {
    -moz-box-shadow: 0 0 9px #bbb;
    -webkit-box-shadow: 0 0 9px #bbb;
    box-shadow: 0 0 9px #bbb;
}

code {
    padding: 0 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

table tbody {
    display: block;
    width: 100%;
    overflow-x: auto;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;

}

td.gutter {
    width: 30px;
    margin: 0 0 0 -1rem;
    height: 100%;
}

img {
    max-width: 114%;
    margin-left: -1.1rem;
}

.logo {
    margin-left: 10px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.parallax-container {
    padding-top: -moz-calc(30% + 60px);
    padding-top: -webkit-calc(30% + 60px);
    padding-top: calc(30% + 60px);
}


article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-size: 1em
}

pre { /*white-space:pre-wrap*/
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
dl, dt, dd,
strong,
hr {
    margin: 0;
    padding: 0;
}

.ty-basic {
    max-width: 50rem;
}

.ty-basic .intro {
    text-indent: 0;
    font-size: calc(1rem + 2px);
    position: relative;
    top: -1px;
}

.ty-basic code {
    line-height: 1em;
}

.ty-basic pre code {
    font-size: 0.8rem;
    line-height: 1rem;
}

.ty-basic hr {
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    border: none;
}

.ty-basic hr:before {
    content: "＊";
    font-size: 1rem;
    font-family: serif;
    opacity: 0.5;
}

/* basic 1.5 line-height */

.ty-basic {
    padding: 0.25rem 0;
}

.ty-basic h1 {
    font-size: 2rem;
    line-height: 5.5rem;
}

.ty-basic h2 {
    font-size: 1.5rem;
    line-height: 5rem;
}

.ty-basic h3 {
    font-size: 1rem;
    line-height: 4.5rem;
}

.ty-basic h4 {
    font-size: 1rem;
    line-height: 3.5rem;
}

.ty-basic p, .ty-basic blockquote, .ty-basic address {
    font-size: 1rem;
    line-height: 1.5rem;
}

.ty-basic ul,
.ty-basic ol {
    padding: 0.5rem 0 0.5rem 2rem;
}

.ty-basic li {
    line-height: 1.5rem;
}

.ty-basic li ul,
.ty-basic li ol {
    padding: 0 0 0 1rem;
}

.ty-basic-blocklist li {
    padding-top: 0.5rem;
}

.ty-basic pre {
    margin: 0.75rem 0;
    padding: 1rem;
}

/* spaces as paragraph separators */

.ty-basic p + p,
.ty-basic blockquote + p,
.ty-basic pre + p {
    margin-top: 1rem;
}

/* wider 2.0 line-height */

.ty-wide h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1.25rem 0;
}

.ty-wide h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.25rem 0;
}

.ty-wide h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.25rem 0;
}

.ty-wide h4 {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-wide p,
.ty-wide blockquote,
.ty-wide address {
    font-size: 1rem;
    line-height: 2rem;
}

.ty-wide ul,
.ty-wide ol {
    padding: 0.75rem 0 0.75rem 2rem;
}

.ty-wide ul,
.ty-wide ol,
.ty-wide li {
    line-height: 1.5rem;
}

.ty-wide .ty-wide-blocklist {
    padding: 0.25rem 0 0.25rem 2rem;
}

.ty-wide-blocklist li {
    line-height: 1.5rem;
    padding: 0.25rem 0;
}

.ty-wide li ul,
.ty-wide li ol {
    padding: 0 0 0 1rem;
}

.ty-wide blockquote {
    margin: 0.75rem -1rem;
    padding: 0.75rem 0.5rem 0.75rem 3rem;
}

.ty-wide pre {
    margin: 1rem 0;
    padding: 1rem;
}

.ty-wide strong {
    line-height: 1rem;
}
.ty-indent p + p,
.ty-indent blockquote + p,
.ty-indent pre + p {
    margin-top: 0;
    text-indent: 1rem;
}

table tbody {
    display: block;
    width: 100%;
    overflow-x: auto;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* ==== color ==== */
/* ==== code highlight color ==== */
pre .comment {
    color: #8e908c;
}

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #ea4335;
}

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #f0b307;
}

pre .ruby .class .title,
pre .css .rules .attribute {
    color: #34a853;
}

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #00a1f1;
}

pre .title,
pre .css .hexcolor {
    color: #34a853;
}

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #4285f4;
}

pre .keyword,
pre .javascript .function {
    color: #f65314;
}

/* ==== background color ==== */
.main {
    background: #FFF;
}

a:focus {
    color: #FFF;
}

a .alignleft.prev, .alignright.next {
    color: #FFF;
}

a.menu-item:hover {
    color: #FFF;
}

a:hover {
    color: #FFF;
    /* ==== colors below would be OK to change ==== */
    background-color: #f44336;
}

figure {
    background: #f5f5f5;
}

a {
    color: #d32f2f;
}

code {
    background: #ff8a80;
}

/* banner color */
nav {
    background-color: #e53935;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.8);
}

.dropdown-content {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.8) !important;
}

nav ul a {
    color: #e53935 !important;
}

/* blockquote line color */
blockquote {
    border-left: 5px solid #f44336;
}

/* page footer color */
footer.page-footer {
    background-color: #FFF;
}

/* dropdown item color */
.dropdown-content li > a, .dropdown-content li > span {
    color: #d32f2f;
}

/* button color */
.btn, .btn-large {
    background-color: #e53935;
}

/* button hover color */
.btn:hover, .btn-large:hover {
    background-color: #e53935;
}

/* ==== duoshuo custom ==== */
#ds-thread #ds-reset .ds-textarea-wrapper {
    background: none !important;
}

#ds-thread {
    margin: 1em -30px !important;
}

#ds-thread #ds-reset .ds-post-toolbar {
    box-shadow: none !important;
}

#ds-reset .ds-gradient-bg {
    background: none !important;
}

#ds-reset .ds-rounded-top {
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

#ds-thread #ds-reset .ds-post-options {
    border-bottom-left-radius: 8px !important;
}

[type="checkbox"] + label::before {
    top: -1px !important;
    left: -18px !important;
    width: 11px !important;
    height: 11px !important;
}

#ds-thread #ds-reset .ds-post-button {
    border-bottom-right-radius: 8px !important;
}

#ds-thread #ds-reset .ds-post-button {
    text-shadow: 0 0 0 #FFF !important;
    color: #FFF !important;
    border-image: none !important;
    background-color: #e53935 !important;
    background-image: none !important;
    font-weight: normal;
}

#ds-reset .ds-avatar img {
    border-radius: 25px !important;
}

#ds-thread #ds-reset li.ds-tab a.ds-current {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
}

#ds-thread #ds-reset li.ds-tab a.ds-current {
    border: 0;
}

#ds-thread #ds-reset li.ds-tab a {
    text-shadow: 0 0 0 #FFF;
}

#ds-thread #ds-reset .ds-comments-info {
    padding: 4px 0;
}