<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Blog Name Gose Here</h5>
        <p class="grey-text text-lighten-4">精神病人思路广，弱智儿童欢乐多<br>傻穷丑三观不正<br>为赋新词强说愁</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">友链出租</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://hexo.io">Hexo - powerful blog framework</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/chadluo/hexo-theme-mame">Mame - theme for Hexo</a></li>
          <li><a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize Css</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.logcg.com">落格博客 Log everything</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright gaoryrt
    <a class="grey-text text-lighten-4 right" href="https://github.com/gaoryrt/dame">主题 - Dame</a>
    </div>
</div>