<nav>
  <ul class="navi-menu">
    <% for (var i in theme.menu){ %>
      <li class="menu-item"><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>
